<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>User Login</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link th:href="@{/webjars/bootstrap/5.0.2/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" rel="stylesheet">
</head>
<body>
<div class="container my-5">
    <h4>User Login</h4>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" method="post" th:action="@{/user/login}" th:object="${loginInfo}" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email" th:field="*{email}" required>
                        <div class="invalid-feedback">
                            Please provide a valid email address.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}" required>
                        <div class="invalid-feedback">
                            Please provide your password.
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/5.0.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
